*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'poppins', sans-serif;
}

body{
    /* background: rgb(30, 30, 30); */
    background-color: rgb(22, 8, 22);
    color: black;
    overflow: hidden;
    overflow-y: scroll;
}

@media (max-width:480px){
    .heading{
        width: 70%; 
        /* display: flex; */
        align-items: center;
        justify-content: center;
        /* padding-right: 7rem; */
        gap: 10px;
    }
}

@media  screen and (max-width:600px) {
    .bg, .introContent, .introName, .hello
    {width: 100%;}
    
  }
  
  @media  screen and (max-width:600px) {
    .introParagraph {width: 70%;}
  }